#core-nav {
	border: 1px solid #eeeeee;
	margin: 20px 0 20px 0;
	padding: 10px;
}

.nav-background-color {
	background-color: blue;
}

#core-nav ul {
	display: inline-block;
}

#core-nav ul a {
	color: #000000;
	text-decoration: none;	
}

#core-nav ul a li {
	background: #efefef;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

/*#core-nav ul a:link {
    color: #FF0000;
}

#core-nav ul a:visited {
    color: #00FF00;
}

#core-nav ul a:hover {
    color: #FF00FF;
}

#core-nav ul a:active {
    color: #0000FF;
}*/